.frame {
  border-radius: 10px;
  background-color: white;
}
.frame1 {
  border-radius: 10px;
  width: 23.5vw;
  margin-left: -1em;
}
.f-14b {
  font-size: 14px;
  font-weight: bold;
}

.f-14 {
  font-size: 14px;
}

.circle {
  border-radius: 50%;
}

/*  PREMIUM */

.rd {
  border-radius: 50px;
  margin-top: 1em;
}

.border-bot {
  border-bottom: 1px #aaafb3 solid;
}

.border-top {
  border-top: 1px #aaafb3 solid;
}

.show-btn {
  text-decoration: none;
  border-radius: 0;
}

.frame {
  margin-top: 5em;
  width: 24vw;
}

.Side {
  width: 70vw;
  margin-left: -23em;
}

#circle {
  height: 50px;
}
